<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{campaigns.overview.title}">Profile</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"/>

    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'/>
    <link href='https://fonts.googleapis.com/css?family=Exo' rel='stylesheet' type='text/css'/>
</head>
<body>
<div th:replace="fragments :: navbar">Navigation bar fragment</div>

<div class="container body-content">
    <form action="#" th:action="@{${T(com.greenapper.controllers.CampaignController).CAMPAIGN_UPDATE_URI}}"
          th:method="get">
        <input class="btn btn-default" th:value="#{campaign.overview.create.button}" type="submit"/>
    </form>
</div>
</body>
</html>